<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/contact.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Contacto</h2>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container position-relative" data-aos="fade-up">

        <div class="row gy-4 d-flex justify-content-center">
          <div class="col-lg-6 col-sm-12">
            <h2>Villahermosa</h2>
            <div class="card mt-3 map-responsive" data-aos="zoom-in">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d335.38923145380056!2d-92.93082126924338!3d18.002185315615325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85edd83c3f725a81%3A0x44bd84ec053d972a!2sCERAOR%203D!5e0!3m2!1ses-419!2smx!4v1712596037026!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          </div>
          <div class="col-lg-6 col-sm-12" data-aos="fade-up" data-aos-delay="100">

            <div class="info-item d-flex">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h4>Ubicación</h4>
                <p>BLV. ADOLFO RUIZ CORTINEZ, 804, MAGISTERIAL, CENTRO, TAB, C.P. 86040</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h4>Email:</h4>
                <a href="mailto:ceraor_3d@hotmail.com"><p>ceraor_3d@hotmail.com</p></a>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex">
              <i class="bi bi-phone flex-shrink-0"></i>
              <div>
                <h4>Teléfono</h4>
                <a href="tel:9933144353"><p>993-314-4353</p></a>
                <a href="tel:9933144353"><p>993-324-6453</p></a>
                <a href="tel:9933144353"><p>993-264-3105</p></a>
              </div>
            </div><!-- End Info Item -->
            
          </div>

          

        </div>

      </div>
    </section>
    <section id="contact" class="contact">
      <div class="container position-relative" data-aos="fade-up">

        <div class="row gy-4 d-flex justify-content-center">
          <div class="col-lg-6 col-sm-12">
            <h2>Comalcalco</h2>
            <div class="card mt-3 map-responsive" data-aos="zoom-in">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3788.806280405588!2d-93.2196!3d18.2647!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ee8faba372912f%3A0x5ffa7ac7e6b4b1f2!2sCERAOR3D%20Comalcalco!5e0!3m2!1ses!2smx!4v1713293324312!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          </div>
          <div class="col-lg-6 col-sm-12" data-aos="fade-up" data-aos-delay="100">

            <div class="info-item d-flex">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h4>Ubicación</h4>
                <p>CERAOR3D Comalcalco Santo Domingo, 86340 Comalcalco, Tab.</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h4>Email:</h4>
                <a href="mailto:ceraor_3d@hotmail.com"><p>ceraor_3d@hotmail.com</p></a>
              </div>
            </div><!-- End Info Item -->

            <!-- <div class="info-item d-flex">
              <i class="bi bi-phone flex-shrink-0"></i>
              <div>
                <h4>Teléfono</h4>
                <a href="tel:9933144353"><p>993-314-4353</p></a>
              </div> -->
            </div><!-- End Info Item -->
            
          </div>

          

        </div>

      </div>
    </section>
    <section id="contact" class="contact">
      <div class="container position-relative" data-aos="fade-up">

        <div class="row gy-4 d-flex justify-content-center">
          <div class="col-lg-6 col-sm-12">
            <h2>Cárdenas</h2>
            <div class="card mt-3 map-responsive" data-aos="zoom-in">
              <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d237.1687971698324!2d-93.3763461062556!3d17.992654079198317!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTfCsDU5JzMzLjYiTiA5M8KwMjInMzQuNSJX!5e0!3m2!1ses!2smx!4v1713293522650!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          </div>
          <div class="col-lg-6 col-sm-12" data-aos="fade-up" data-aos-delay="100">

            <div class="info-item d-flex">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h4>Ubicación</h4>
                <p>C. Tomas Garrido Canabal 504, Centro, 86500 Cárdenas, Tab.</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h4>Email:</h4>
                <a href="mailto:ceraor_3d@hotmail.com"><p>ceraor_3d@hotmail.com</p></a>
              </div>
            </div><!-- End Info Item -->

            <!-- <div class="info-item d-flex">
              <i class="bi bi-phone flex-shrink-0"></i>
              <div>
                <h4>Teléfono</h4>
                <a href="tel:9933144353"><p>993-314-4353</p></a>
              </div>
            </div> -->
            
          </div>

          

        </div>

      </div>
    </section>
    <section id="contact" class="contact">
      <div class="container position-relative" data-aos="fade-up">
        <div class="row gy-4 d-flex justify-content-center">
          <div class="col-lg-6 col-sm-12">
            <h2>Chiapas</h2>
            <div class="card mt-3 map-responsive" data-aos="zoom-in">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3820.4010472310456!2d-93.1470937!3d16.756711199999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ecd9f310b42f29%3A0x93d2ab19edcbedcf!2sCeraor3D%20Tuxtla%20Guti%C3%A9rrez!5e0!3m2!1ses-419!2smx!4v1713293634716!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          </div>
          <div class="col-lg-6 col-sm-12" data-aos="fade-up" data-aos-delay="100">

            <div class="info-item d-flex">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h4>Ubicación</h4>
                <p>San Francisco El Sabinal 228-Planta Baja, San Francisco Sabinal, 29020 Tuxtla Gutiérrez, Chis.</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h4>Email:</h4>
                <a href="mailto:ceraor_3d@hotmail.com"><p>ceraor_3d@hotmail.com</p></a>
              </div>
            </div><!-- End Info Item -->

            <!-- <div class="info-item d-flex">
              <i class="bi bi-phone flex-shrink-0"></i>
              <div>
                <h4>Teléfono</h4>
                <a href="tel:9933144353"><p>993-314-4353</p></a>
              </div>
            </div> --><!-- End Info Item -->
            
          </div>
        </div>

      </div>
    </section>

  </main><!-- End #main -->