<section id="hero" class="hero section">

  <div class="container">
    <div class="row gy-4 justify-content-center justify-content-lg-between">
      <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center">
        <div class="container-fluid">
          <div class="row justify-content-between">
            <div class="col-5 align-self-center text-center">
              <img src="assets/img/logoburger.svg" class="text-center" width="150" height="auto" alt="">
            </div>
            <div class="col-5 align-self-center text-center">
              <img src="assets/img/fila.svg" class="text-center" width="150" height="auto" alt="">
            </div>
          </div>
          <div class="row">
            <div class="col mt-5">
              <h1 data-aos="fade-up" data-aos-delay="100" class="text-center">Nos unimos para darte lo mejor</h1>
              <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                <a href="https://www.youtube.com/watch?v=b548y_R5E1w" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Ver Video</span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
        <img src="assets/img/fila1.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section>

<section id="about" class="about section">


  <div class="container section-title" data-aos="fade-up">
    <h2>Sobre Nosotros<br></h2>
    <p><span>FILA &</span> <span class="description-title">BURGER KING</span></p>
  </div>

  <div class="container">

    <div class="row gy-4">
      <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
        <img src="assets/img/burgerking.svg" class="img-fluid mb-4" alt="">
        <img src="assets/img/fila.svg" class="img-fluid mb-4" alt="">
      </div>
      <div class="col-lg-5" data-aos="fade-up" data-aos-delay="250">
        <div class="content ps-0 ps-lg-5">
          <p class="fst-italic">
            FILA y Burger King colaboraron para lanzar una línea limitada de ropa y calzado que combinaban con el estilo deportivo de fila pero añadiendo el distintivo  diseño y colores de burger king.
          </p>
          <ul>
            <li>
              <i class="bi bi-check-circle-fill"></i>
              <span>
                Esta colección incluyó productos como camisetas, sudaderas y zapatillas que presentaban los icónicos colores y logotipos de ambas marcas, destacando un enfoque innovador y divertido en la moda.
              </span>
          </li>
            <li>
              <i class="bi bi-check-circle-fill"></i>
              <span>
                La colaboración fué un exito, atrevido tanto a fanáticos de la moda como a seguidores de las dos marcas.
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>

</section>



<section id="stats" class="stats section content-background-fila">
  <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">

    <div class="row justify-content-end gy-4">
      <div class="col-md-5">
        <h1 class="text-light">Sobre Nosotros</h1>

        <p class="text-just">
          Fila y Burger King colaboraron para lanzar una línea limitada de ropa y calzado que combinaba el estilo deportivo de fila con el distitivo diseño y colores de burger king. Esta colección incluyó productos como camisetas, sudaderas y zapatillas que presentaban los icónicos colores y logotipos de ambas marcas, destacando un enfoque innovador y divertido en la moda. La colaboración fué un éxito, atrayendo tanto a fanáticos de la moda como a seguidores de las dos marcas.
        </p>
      </div>
    </div>

  </div>

</section>


   <section id="testimonials" class="testimonials section">
    <div class="container section-title" data-aos="fade-up">
      <h2>Testimonios</h2>
      <p><span class="description-title">Opiniones</span></p>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="swiper init-swiper">
        <script type="application/json" class="swiper-config">
          {
            "loop": true,
            "speed": 600,
            "autoplay": {
              "delay": 5000
            },
            "slidesPerView": "auto",
            "pagination": {
              "el": ".swiper-pagination",
              "type": "bullets",
              "clickable": true
            }
          }
        </script>
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="row gy-4 justify-content-center">
                <div class="col-lg-6">
                  <div class="testimonial-content">
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>Los tenis de la collab con burger están muy top, a buen precio y comodisimos</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                    <h3>Luis Aguirre</h3>
                    <h4>Cliente frecuente</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 text-center">
                  <img src="assets/img/testimonials/testimonials-1.jpg" class="img-fluid testimonial-img" alt="">
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="row gy-4 justify-content-center">
                <div class="col-lg-6">
                  <div class="testimonial-content">
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>Las burket hats de Fila y Burger King están geniales, cómodas, de buen tamaño, queda a todas las cabezas, y las calcetas super cómodas, ¡Me encantó esta collab!</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                    <h3>Sara Valencia</h3>
                    <h4>Cliente</h4>
                    <div class="stars">
                      <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                    </div>
                  </div>
                </div>
                <div class="col-lg-2 text-center">
                  <img src="assets/img/testimonials/testimonials-2.jpg" class="img-fluid testimonial-img" alt="">
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>

  </section>