<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/ceraor2.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Sobre Nosotros</h2>


      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4" data-aos="fade-up">
          <div class="col-lg-4">
            <img src="assets/img/ceraor.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8">
            <div class="content ps-lg-5">
              <h3>Los años respaldan nuestro compromiso por darles calidad</h3>

              <div class="table-responsive">
                <table class="table table-hover">
                  <tr>
                    <th scope="row">2009</th>
                    <td>Abrimos nuestras puertas en Pedro Fuentes, con deseo de ofrecer a los pacientes la mejor atención y a nuestros doctores la mejor calidad y resolución en Radiografías y Estudios de Ortodoncia.</td>
                  </tr>
                  <tr>
                    <th scope="row">2015</th>
                    <td>Para ofrecerle a los pacientes y doctores un lugar con mayor comodidad y espacio, nos cambiamos al fraccionamiento Arboledas, ahí continuamos brindando nuestro servicios e incluimos las Tomografías Volumétricas en 3D, siendo este un parteaguas en innovación para el diagnostico dental. </td>
                  </tr>
                  <tr>
                    <th scope="row">2018</th>
                    <td>Debido a los grandes éxitos obtenidos en Villahermosa, decidimos expandirnos al Puerto de Veracruz, donde nuestro gabinete cuenta con los mejores equipos de alta calidad en el diagnostico dental, ofreciendo estudios de Radiografías, Escaneos, Estudios de Ortodoncia y Tomografía. </td>
                  </tr>
                  <tr>
                    <th scope="row">2019</th>
                    <td>Ceraor 3D con el tiempo se convirtió en un líder en el diagnostico dental, cada vez teníamos mayor afluencia de pacientes y doctores que confiaban en nuestros servicios, nos cambiamos de ubicación a Boulevard Adolfo Ruiz Cortines, con el fin de ofrecer nuevos servicios, como el escaneo intraoral, guías quirúrgicas y agilizando nuestros servicios de atención. </td>
                  </tr>
                  <tr>
                    <th scope="row">2021</th>
                    <td>Decidimos incursionar en el municipio de Cárdenas, en donde obtuvimos una buena respuesta por parte de los doctores y pacientes en el diagnostico dental. De esta manera coadyuvamos a la economía de los pacientes al realizarse los estudios en una sucursal más cerca de ellos. </td>
                  </tr>
                  <tr>
                    <th scope="row">2023</th>
                    <td>Al ver que nuestras nuevas sucursales generaron un éxito rotundo y la demanda cada vez mayor, optamos por inaugurar dos sucursales ubicadas en Comalcalco, Tabasco y Tuxtla Gutiérrez, Chiapas donde nos respalda la calidad de nuestros servicios. </td>
                  </tr>
                </table>
              </div>
    
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->



  </main><!-- End #main -->